.grid-container {
  column-count: 6;
  column-gap: 10px;
  margin: 24px;
}
.fab {
  top: auto;
  bottom: 0px;
  right: 0px;
  left: auto;
  position: absolute !important;
  margin: 32px !important;
}

.input--title {
  font-size: x-large !important;
  margin-bottom: 18px !important;
}

.input--fullWidth {
  width: 100% !important;
}
